@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "GothamPro";
  color: #232A32;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #708238;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #708238;
}

::-moz-selection {
  color: #fff;
  background-color: #708238;
}

::selection {
  color: #fff;
  background-color: #708238;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #232A32;
}

a:hover {
  color: #708238;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #2D2A2B;
}

input,
textarea,
select {
  color: #2D2A2B;
  font-family: "GothamPro-Bold";
  font-size: 14px;
  padding: 8px 30px;
  background: none;
}

input,
select {
  border: none;
  border-bottom: 1px solid #000;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #2D2A2B;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #2D2A2B;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #2D2A2B;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #2D2A2B;
  border-bottom: 1px solid #708238;
  outline: none;
}

.checkbox {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #708238;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #708238;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.und {
  text-decoration: underline;
}

.tac {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd,
button:active {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
}

.shd .shd:hover,
button:active .shd:hover {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.btn {
  outline: none;
  font-size: 13px;
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  background-color: #708238;
  position: relative;
  display: inline-block;
  border-radius: 0;
}

.btn:hover {
  color: #000;
  background-color: #DA984A;
  opacity: .9;
}

.btn_transp {
  color: #232A32;
  background-color: transparent;
  border: 1px solid #232A32;
}

.btn_transp:hover {
  color: #fff;
  background-color: #708238;
  border-color: #708238;
}

.btn_yellow {
  color: #232A32;
  background-color: #DA984A;
  border: 1px solid #DA984A;
}

.btn_yellow:hover {
  color: #fff;
  background-color: #708238;
  border-color: #708238;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #E5E5E5;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #232A32;
  left: 0;
  top: 9px;
}

.list_square {
  list-style-type: none;
  padding-left: 0;
}

.list_square li {
  padding-left: 25px;
  position: relative;
}

.list_square li {
  margin-bottom: 10px;
}

.list_square li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #E5E5E5;
  left: 0;
  top: 5px;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 25px;
  right: 25px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background: #E5E5E5;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #E5E5E5;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  color: #000;
  font-family: "GothamPro-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  color: #2D2A2B;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #2D2A2B;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  color: #000;
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #DA984A;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 17px;
  height: 17px;
  border: 3.5px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 13px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  border-color: transparent;
  background-color: #DA984A;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border-radius: 50%;
  padding: 10px !important;
  border: 2px solid #000;
  background-color: transparent;
  -webkit-transform: scale(0.73);
      -ms-transform: scale(0.73);
          transform: scale(0.73);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #DA984A;
  -webkit-transform: scale(0.65);
      -ms-transform: scale(0.65);
          transform: scale(0.65);
  border-color: #DA984A;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs__list li {
  cursor: pointer;
}

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 33px;
  font-family: "GothamPro-Black";
  letter-spacing: 2px;
  margin-bottom: 45px;
  text-align: center;
  text-transform: uppercase;
}

.section__subttl {
  font-family: "GothamPro-Light";
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: -35px;
  margin-bottom: 30px;
}

.input__wrp {
  position: relative;
  max-width: 230px;
}

.input__wrp input,
.input__wrp select {
  width: 100%;
  padding-left: 35px;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 8px;
  width: 12px;
  height: 17px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_name:before {
  background-image: url(../img/icon__form-name.png);
}

.input__wrp_mail:before {
  background-image: url(../img/icon__form-mes.png);
  top: 8px;
}

.input__wrp_tel:before {
  background-image: url(../img/icon__form-tel.png);
  top: 8px;
}

.input__wrp:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  background-color: #232A32;
  padding: 25px 0;
}

.header__item {
  font-size: 13px;
  font-family: "Roboto-Regular";
  color: #fff;
}

.header__item img {
  max-width: 15px;
  margin-right: 8px;
}

.header__item:not(:last-child) {
  margin-right: 28px;
}

.header__soc-item {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.header__soc-item::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #708238;
  left: -2px;
  top: -2px;
  opacity: 0;
}

.header__soc-item img {
  position: relative;
}

.header__soc-item:not(:last-child) {
  margin-right: 6px;
}

.header__soc-item:hover::before {
  opacity: .7;
}

.nav {
  padding: 15px 0;
  background-color: #E5E5E5;
}

.nav__logo:hover img {
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
}

.nav__link {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
}

.nav__in-logo {
  display: none !important;
  margin-bottom: 15px;
  max-width: 120px;
}

.nav .btn {
  width: 212px;
}

.offer {
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), color-stop(65.9%, #E5E5E5), color-stop(66%, #ffffff), to(#ffffff));
  background: -o-linear-gradient(top, #E5E5E5 0%, #E5E5E5 65.9%, #ffffff 66%, #ffffff 100%);
  background: linear-gradient(to bottom, #E5E5E5 0%, #E5E5E5 65.9%, #ffffff 66%, #ffffff 100%);
}

.offer .container {
  position: relative;
}

.offer .container::before {
  content: '';
  position: absolute;
  width: 560px;
  height: 100%;
  background-color: #E5E5E5;
  right: 15px;
  top: 0px;
}

.offer::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 15px;
  background: url(../img/offer__decor_2.png) no-repeat 50% 50%/contain;
  left: 50%;
  margin-left: -30px;
  bottom: 0px;
  z-index: 1;
}

.offer__item {
  color: #fff;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.offer__in {
  width: 100%;
  min-height: 518px;
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.offer__in::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #232A32;
  opacity: .4;
}

.offer__ttl {
  width: 100%;
  text-transform: uppercase;
  font-family: "GothamPro-Black";
  font-size: 38px;
  position: relative;
}

.offer__ttl::before {
  content: '';
  position: absolute;
  width: 99px;
  height: 14px;
  background: url("../img/offer__decor_1.png") no-repeat 50% 50%/contain;
  left: -110px;
  top: 20px;
}

.offer__info {
  position: relative;
  max-width: 570px;
  padding: 30px;
}

.offer__info::before {
  content: '';
  position: absolute;
  width: 300%;
  height: 240px;
  left: 0;
  top: 20px;
  background-color: #DA984A;
  opacity: 0;
}

.offer__info-ttl {
  position: relative;
  font-family: "GothamPro-Bold";
  font-size: 32px;
  margin-bottom: 15px;
}

.offer__info-descr {
  position: relative;
  font-size: 16px;
}

.offer .owl-item.active .offer__info::before {
  opacity: .7;
}

.offer .owl-dots {
  bottom: 110px;
  left: 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.act {
  overflow: hidden;
  padding: 0;
  position: relative;
}

.act::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 15px;
  background: url(../img/offer__decor_2.png) no-repeat 50% 50%/contain;
  left: 50%;
  margin-left: -30px;
  bottom: 0px;
  z-index: 1;
}

.act .container {
  padding: 60px 0;
  position: relative;
}

.act .container::before {
  content: '';
  position: absolute;
  width: 560px;
  height: 100%;
  background-color: #E5E5E5;
  right: 15px;
  top: 0px;
}

.act .container > * {
  position: relative;
}

.act__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.act__item-img {
  width: 100%;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}

.act__item-ttl {
  font-size: 15px;
  text-align: center;
  font-family: "GothamPro-Medium";
}

.act__in {
  position: relative;
}

.act__in::after {
  content: '';
  position: absolute;
  width: 331px;
  height: 474px;
  background: url("../img/act__tree.png") no-repeat 50% 50%/contain;
  right: -200px;
  top: 30px;
}

.act__img {
  width: 860px;
  height: 518px;
  background: url("../img/act__home.png") no-repeat 50% 50%/contain;
  position: absolute;
  left: -200px;
  top: 0;
}

.cat {
  background-color: #E5E5E5;
  position: relative;
}

.cat::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 15px;
  background: url(../img/offer__decor_2.png) no-repeat 50% 50%/contain;
  left: 50%;
  margin-left: -30px;
  bottom: 0px;
  z-index: 1;
}

.cat__item {
  min-height: 330px;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cat__item-wrp {
  position: relative;
}

.cat__item-wrp.hit::after {
  content: '';
  position: absolute;
  width: 111px;
  height: 111px;
  left: -20px;
  top: -30px;
  background: url("../img/cat__hit.png") no-repeat 50% 50%/contain;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.cat__item-wrp.active::after {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  left: -50px;
  top: -40px;
}

.cat__item-wrp.active .cat__item::before {
  opacity: .87;
}

.cat__item-wrp.active .cat__item-in {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.cat__item-wrp.active .cat__item-in .btn {
  opacity: 1;
}

.cat__item-wrp.active .cat__item-descr {
  opacity: 1;
}

.cat__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #DA984A;
  opacity: 0;
}

.cat__item-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translateY(80%);
      -ms-transform: translateY(80%);
          transform: translateY(80%);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.cat__item-ttl {
  font-family: "GothamPro-Bold";
  font-size: 18px;
}

.cat__item-descr {
  font-size: 16px;
  opacity: 0;
  max-width: 300px;
}

.cat__item .btn {
  border-color: #fff;
  color: #fff;
  opacity: 0;
  max-width: 350px;
}

.cat__item .btn:hover {
  color: #fff;
  background-color: #708238;
  border-color: #708238;
}

.cat__pop {
  max-width: 1170px;
}

.cat__pop .section__ttl {
  margin-bottom: 5px;
}

.cat__pop-subttl {
  font-family: "GothamPro-Black";
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cat__pop-slider {
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.cat__pop-slider-img {
  height: 250px;
  width: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cat__pop-slider-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #708238;
  opacity: 0;
}

.cat__pop-slider-img:hover::before {
  opacity: .7;
}

.cat__pop-acc {
  margin-bottom: 15px;
}

.cat__pop-acc-btn {
  font-size: 16px;
  padding: 15px 20px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
  position: relative;
  background-color: #F2F2F2;
  cursor: pointer;
}

.cat__pop-acc-btn::before, .cat__pop-acc-btn::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #232A32;
}

.cat__pop-acc-btn::before {
  right: 20px;
  top: 25px;
}

.cat__pop-acc-btn::after {
  right: 20px;
  top: 25px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cat__pop-acc-btn.active {
  background-color: #DA984A;
  color: #fff;
}

.cat__pop-acc-btn.active::before {
  background-color: #fff;
}

.cat__pop-acc-btn.active::after {
  opacity: 0;
}

.cat__pop-acc-cnt {
  padding: 15px 20px;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.cat__pop-info-subttl {
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.cat__pop-info-tel {
  color: #232A32;
  font-size: 22px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.type {
  position: relative;
}

.type::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 15px;
  background: url(../img/offer__decor_2.png) no-repeat 50% 50%/contain;
  left: 50%;
  margin-left: -30px;
  bottom: 0px;
  z-index: 1;
}

.type-main__tabs > .tabs__list {
  margin-bottom: 20px;
}

.type-main__tabs > .tabs__list li {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  text-align: center;
  width: 49%;
  background-color: #E5E5E5;
  padding: 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-main__tabs > .tabs__list li:hover:not(.active) {
  opacity: .7;
}

.type-main__tabs > .tabs__list li.active {
  color: #fff;
  background-color: #708238;
  -webkit-box-shadow: 0px 10px 20px rgba(76, 88, 37, 0.2);
          box-shadow: 0px 10px 20px rgba(76, 88, 37, 0.2);
}

.type-sec__tabs > .tabs__list {
  margin-bottom: 30px;
}

.type-sec__tabs > .tabs__list li {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  text-align: center;
  width: 24%;
  background-color: #E5E5E5;
  padding: 15px 20px;
}

.type-sec__tabs > .tabs__list li:hover:not(.active) {
  opacity: .7;
}

.type-sec__tabs > .tabs__list li.active {
  color: #fff;
  background-color: #DA984A;
  -webkit-box-shadow: 0px 10px 20px rgba(76, 88, 37, 0.2);
          box-shadow: 0px 10px 20px rgba(76, 88, 37, 0.2);
}

.type__item-ttl {
  font-family: "GothamPro-Black";
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.type__item-subttl {
  font-family: "GothamPro-Black";
  margin-bottom: 25px;
  text-transform: uppercase;
}

.type__item-gal {
  margin-bottom: 30px;
}

.type__item-gal .owl-nav button.owl-prev {
  left: -50px;
}

.type__item-gal .owl-nav button.owl-next {
  right: -50px;
}

.type__item-gal-img {
  width: 270px;
  max-width: 100%;
  height: 270px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.type__item-gal-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #DA984A;
  opacity: 0;
}

.type__item-gal-img:hover::before {
  opacity: .7;
}

.type__item b {
  font-family: "GothamPro-Bold";
}

.tech {
  background-color: #E5E5E5;
  padding-bottom: 80px;
  position: relative;
}

.tech::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 15px;
  background: url(../img/offer__decor_2.png) no-repeat 50% 50%/contain;
  left: 50%;
  margin-left: -30px;
  bottom: 0px;
  z-index: 1;
}

.tech .tabs__list li {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  text-align: center;
  width: 33%;
  background-color: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tech .tabs__list li:hover:not(.active) {
  opacity: .7;
}

.tech .tabs__list li.active {
  color: #fff;
  background-color: #708238;
}

.tech__item {
  max-width: 370px;
  min-height: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.tech__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #232A32;
  opacity: .8;
}

.tech__item-in {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  padding: 25px;
  min-height: 100%;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}

.tech__item-ttl {
  font-size: 18px;
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tech__item-descr {
  font-size: 13px;
  height: 52px;
  overflow: hidden;
}

.tech__item.active {
  z-index: 1;
}

.tech__item.active .tech__item-in {
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.3);
}

.tech__item.active .tech__item-in > *,
.tech__item.active .tech__item-in > * > * {
  color: #000;
}

.tech__item.active .tech__item-descr {
  height: auto;
}

.work {
  background-color: #E5E5E5;
}

.work__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  width: 50%;
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  position: relative;
  padding: 20px 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item::before, .work__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.work__item::before {
  background-color: #FFF;
  opacity: .7;
}

.work__item::after {
  background-color: #708238;
}

.work__item > * {
  position: relative;
  z-index: 2;
}

.work__item-bot {
  min-height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item-num {
  font-size: 60px;
  font-family: "GothamPro-Light";
  color: #b3a8a8;
}

.work__item-ttl {
  font-family: "GothamPro-Black";
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.work__item-descr {
  font-family: "GothamPro-Medium";
  color: #DA984A;
}

.work__in:hover .work__item {
  width: 20%;
}

.work__in:hover .work__item:hover .work__item-ttl {
  color: #fff;
}

.work__in:hover .work__item:hover .work__item-descr {
  color: #fff;
}

.work__in:hover .work__item::before {
  opacity: .7;
}

.work__in:hover .work__item:hover {
  width: 50%;
}

.work__in:hover .work__item:hover::before {
  opacity: 0;
}

.work__in:hover .work__item:hover::after {
  opacity: .8;
}

.about {
  background-color: #DA984A;
  color: #fff;
  position: relative;
}

.about .container {
  position: relative;
}

.about .section__ttl {
  text-align: left;
  margin-bottom: 25px;
}

.about__subttl {
  font-size: 18px;
  font-family: "GothamPro-Bold";
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about__info {
  font-family: "GothamPro-Medium";
  font-size: 16px;
  color: #000;
  background-color: #fff;
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: -130px;
}

.about-bot {
  background-color: #E5E5E5;
  padding-top: 90px;
}

.about-bot__item {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-bot__item-img {
  width: 100%;
  height: 320px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.about-bot__item-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #232A32;
  opacity: .6;
}

.about-bot__item-btn {
  width: 92px;
  height: 92px;
  position: relative;
}

.about-bot__item-btn::before, .about-bot__item-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-bot__item-btn::before {
  background-image: url("../img/about__play_1.png");
}

.about-bot__item-btn::after {
  background-image: url("../img/about__play_2.png");
  opacity: .0;
}

.about-bot__item-ttl {
  font-size: 16px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.about-bot__item:hover .about-bot__item-img {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}

.about-bot__item:hover .about-bot__item-img::before {
  opacity: .5;
}

.about-bot__item:hover .about-bot__item-btn::after {
  opacity: 1;
}

.corp {
  background-color: #E5E5E5;
}

.corp .section__ttl {
  text-align: left;
}

.corp__item {
  height: 270px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.corp__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #232A32;
  opacity: .6;
}

.corp__item-in {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.corp__item-ttl {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.corp__item .btn {
  border-color: #fff;
  color: #fff;
  opacity: 0;
  max-width: 350px;
}

.corp__item .btn:hover {
  color: #fff;
  background-color: #708238;
  border-color: #708238;
}

.corp__item:hover::before {
  background-color: #DA984A;
  opacity: .87;
}

.corp__item:hover .corp__item-in {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.corp__item:hover .corp__item-in .btn {
  opacity: 1;
}

.corp__item:hover::after {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  left: -50px;
  top: -40px;
}

.corp__subttl {
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.corp__tel {
  color: #232A32;
  font-size: 22px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.dil {
  color: #fff;
  background: url("../img/dil__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.dil::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #232A32;
  opacity: .88;
}

.dil .container {
  position: relative;
}

.dil__item:nth-child(1) a {
  color: #DA984A;
}

.dil__item:nth-child(1) a:hover {
  color: #708238;
}

.dil__item-ttl {
  font-size: 18px;
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dil__item-tel {
  color: #232A32;
  font-size: 22px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.dil__item .btn {
  border-color: #fff;
  color: #fff;
}

.dil__item .btn:hover {
  color: #fff;
  border-color: #708238;
}

.feed {
  overflow: hidden;
}

.feed .section__ttl {
  text-align: left;
  margin-bottom: 20px;
}

.feed__img {
  position: absolute;
  width: 150%;
  height: 100%;
  right: 0;
  top: 0;
  background: url("../img/feed__bg.jpg") no-repeat 50% 50%/cover;
}

.feed__img-wrp {
  height: 100%;
  position: relative;
}

.feed__form {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.feed .input__wrp {
  max-width: unset;
  width: 100%;
}

.feed .btn {
  max-width: 220px;
}

.map .section__ttl {
  text-align: left;
  margin-bottom: 20px;
}

.map__tel {
  font-size: 22px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
}

.map__ttl {
  font-size: 18px;
  font-family: "GothamPro-Black";
  text-transform: uppercase;
  margin-bottom: 4px;
}

.map__in {
  position: relative;
}

.map__in .tabs__list {
  position: absolute;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.map__in .tabs__list li {
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.map__in .tabs__list li:hover:not(.active) {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.map__in .tabs__list li.active {
  color: #fff;
  background-color: #DA984A;
}

.map__in .tabs__list li:not(:last-child) {
  margin-right: 15px;
}

.footer {
  font-size: 13px;
  color: #fff;
  background-color: #232A32;
  padding: 40px 0;
}

.footer__link {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}

.footer__link:hover {
  color: #DA984A;
}

.footer__soc-item {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.footer__soc-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DA984A;
  left: 0;
  top: 0;
  opacity: 0;
}

.footer__soc-item img {
  position: relative;
}

.footer__soc-item:not(:last-child) {
  margin-right: 6px;
}

.footer__soc-item:hover::before {
  opacity: .7;
}

.footer__logo:hover img {
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
}

.footer__copy {
  color: #fff;
}

.footer__copy:hover {
  -webkit-animation: bzzz 1 linear 1.3s;
          animation: bzzz 1 linear 1.3s;
}

@-webkit-keyframes bzzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
            transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
            transform: translateX(-1px) rotate(0);
  }
}

@keyframes bzzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
            transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
            transform: translateX(-1px) rotate(0);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #E5E5E5;
  z-index: 1000;
}

.preloader__icon {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #708238;
  -webkit-animation: rotating-plane 1.2s infinite ease-in-out;
          animation: rotating-plane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #DA984A;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #DA984A;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
