@media screen and (max-width: 1200px) {
  .cat__pop {
    max-width: 100%;
  }
  .act__img,
  .act__in::after {
    opacity: .3;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
    background-color: #fff;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
    background-color: #fff;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .nav__in {
    border: 20px solid #E5E5E5;
    display: none;
  }
  .nav__in-logo {
    display: block;
  }
  .nav__link {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav__logo {
    max-width: 100px;
  }
  .feed__form {
    max-width: 370px;
    margin-left: 0;
  }
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 1004px) {
  .work {
    display: none;
  }
  .about__info {
    position: relative;
    bottom: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__info-top .header__item:nth-child(1), .header__info-top .header__item:nth-child(2) {
    display: none !important;
  }
  .offer .owl-dots {
    bottom: 70px;
    left: 50px;
  }
  .section__ttl,
  .offer__ttl,
  .type__item-ttl {
    font-size: 22px;
  }
  .section__subttl {
    font-size: 18px;
  }
  .section_inner {
    padding: 40px 0;
  }
  .offer__info-ttl {
    font-size: 18px;
  }
  .tech .tabs__list li {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
  .cat__item,
  .tech__item-in {
    padding: 10px;
  }
  .popup__container {
    padding: 10px;
  }
  .popup__container .fancybox-close-small {
    top: 0;
    right: 0;
  }
  .offer__in {
    min-height: 368px;
    padding: 15px;
  }
  .offer__ttl::before {
    display: none;
  }
  .cat__pop {
    padding: 15px;
  }
  .cat__item-wrp:hover::after {
    top: -70px;
  }
  .act__item-img {
    height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .news__item-wrp {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .offer__info::before {
    height: 270px;
  }
  .type-main__tabs > .tabs__list li {
    padding: 10px;
  }
  .type-sec__tabs > .tabs__list li {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    width: 49%;
    margin-bottom: 8px;
    padding: 10px;
  }
}
